@import "partials/reset";
@import "partials/clearfix";

.container {
  // border: 10px solid red;
  width: 960px;
  margin: 60px auto;
  box-sizing: border-box;
}

hr {
    display: block;
    height: 1px;
    width: 960px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.7em 0;
    padding: 0;
    box-sizing: border-box;
}

.header-menu {
  // border: 10px solid blue;
  padding: 0 0 20px 0;
  // box-sizing: border-box;
  // display: block;
  // flex-wrap: wrap;
}

.left-header {
  // border-right: 1px solid #ccc;
  display: inline-block;
  width: 500px;
  // float: left;
}

.right-header {
  font-family: 'Arial', sans-serif;
  color: #a4a4a5;
  font-size: 13px;
  width: 306px;
  float: right;
  display: inline-block;
  vertical-align: center;
  padding: 0 0 0 20px;
  border-left: 1px solid #ccc;
  height: 50px;
  margin: 20px 0 0 0;
}

.body {
  // border: 10px solid yellow;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.hero-image {
  // border: 10px solid brown;
  height: 349px;
  width: 960px;
  box-sizing: border-box;
  margin: 30px 0 0 0;
}

.image-grid {
  // border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 1 0 960px;
  // padding: 10px 0 0 0;
}

.photo-detail {
  height: 450px;
  width: 625px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 15px;
}

.photo-large {
  height: 450px;
  width: 625px;
}

.photo-container {
  line-height: 16px;
  margin: 0 0 5px
}

.detail-photo-container {
  display: flex;
  box-sizing: border-box;
}

.photo-right-column {
  width: 306px;
  height: 215px;
  box-sizing: border-box;
  margin: 70px 0 0 20px;
}

.photo {
  width: 306px;
  height: 215px;
  box-sizing: border-box;
  flex: 1 0 960px;
}

.caption {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  color: #888888;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #68636A
}

body {
  font-family: 'Arial', sans-serif;
  color: #a4a4a5;
  font-size: 13px;

}

