@import "partials/reset";
@import "partials/clearfix";
@import "header";
@import "forms";

.container {
  // border: 10px solid red;
  width: 960px;
  margin: 60px auto;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    margin: 40px auto;
    width: 400px;
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.hero-image {
  height: 349px;
  width: 960px;
  box-sizing: border-box;
  margin: 60px 0 0 0;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 1 0 960px;
}

.detail-photo-container {
  display: flex;
  box-sizing: border-box;
}

.photo-detail {
  height: 450px;
  width: 625px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 15px;
}

.button-container {
  display: flex;
  margin-top: 20px;

}

.button {
  // -webkit-font-smoothing: antialiased;
  background-color: black;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  // user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 10px 20px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: gray;
    color: #fff;
  }
}

.photo-large {
  height: 450px;
  width: 625px;

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 60%;
  }
}

.photo-container {
  line-height: 16px;
  margin: 0 0 40px 0;
  width: 306px;
  height: 215px;
}


.right-side-column {

  //Mobile Size
  @media only screen and (max-width: 768px) {
    display: none;
  }

  margin: 70px 0 0 20px;
}

.photo-right-column {
    width: 306px;
    height: 215px;
    box-sizing: border-box;
}

.photo {
  width: 306px;
  height: 215px;
  box-sizing: border-box;
  flex: 1 0 960px;
}

.caption {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  color: #888888;
}

.right-column-caption {
  margin: 10px 0 20px 0;
  font-weight: bold;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #68636A
}

body {
  font-family: 'Arial', sans-serif;
  color: #a4a4a5;
  font-size: 13px;
}
