@import "partials/reset";
@import "partials/clearfix";

.container {
  border: 10px solid red;
}

.header-menu {
  border: 10px solid blue;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #68636A
}

body {
  font-family: 'Roboto', sans-serif;
}

.body {
  border: 10px solid yellow;
}

.photo {
  border: 10px solid pink;
}

.left-column {
  border: 10px solid green;
}

.right-column {
  border: 10px solid purple;
}

