<html lang="en">
    {{> header}}
  <div class="container">
    <div id="header-menu">

      <div class="left-header">
        <hr/>
        <a href="/">
          <h1>_ARCHITEKT</h1>
        </a>
      </div>
      <div class="right-header">Welcome to this online portfolio. We are a small group of passionate designers and architects looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architekt Wordpress Theme.
      </div>

    <div id="horizontal-menu">
      <div class="logged-in">
        {{#if username}}
        Logged in as: {{username}}
        <div class="add-photo-button">
          <form action="/gallery/new" method="GET">
          <input type="submit" value="Add Photo"/>
          </form>
        </div>
        <div class="logout-button">
          <form action="/logout" method="POST">
          <input type="submit" value="Log Out"/>
          </form>
        </div>
        {{else}}
        <form action="/login" method="GET">
          <input type="submit" value="Login"/>
        </form>
        <div class="new-user-button">
          <form action="/gallery/new-user" method="GET">
          <input type="submit" value="Create Account"/>
          </form>
        </div>
        {{/if}}
      </div>
    </div>

  {{{body}}}
  </div>
    {{> footer}}
</html>