<html lang="en">
    {{> header}}
  <div class="container">
    <div id="header-menu">

      <div class="left-header">
        <hr/>
        <a href="/">
          <h1>_ARCHITEKT</h1>
        </a>
      </div>
      <div class="right-header">Welcome to this online portfolio. We are a small group of passionate designers and architects looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architekt Wordpress Theme.
      </div>

    <ul id="horizontal-menu">
      {{#if username}}
      <li>
        <form action="/gallery/new" method="GET">
          <button class="menu-button">ADD PHOTO</button>
        </form>
      </li>
      <li>
        <div class="menu-item">
        LOGGED IN AS: {{username}}
        </div>
      </li>
      <li>
        <form action="/logout" method="POST">
          <button class="menu-button">LOG OUT</button>
        </form>
      </li>
      {{else}}
      <li>
        <form action="/login" method="GET">
        <button class="menu-button">LOGIN</button>
        </form>
      </li>
      <li>
        <form action="/gallery/new-user" method="GET">
        <button class="menu-button">CREATE ACCOUNT</button>
        </form>
      </li>
      {{/if}}
    </ul>

  </div>
  {{{body}}}
  </div>
    {{> footer}}
</html>