<html lang="en">
    {{> header}}
  <div class="container">
    <div class="header-menu">
    <div class="left-header">
      <hr/>
      <h1>_ARCHITEKT</h1>
    </div>
      <div class="right-header">Welcome to this online portfolio. We are a small group of passionate designers and architects looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architekt Wordpress Theme.
        <div class="login-button">Login</div>
        <div class="logout-button">Log Out</div>
      </div>

    </div>
    {{{body}}}
  </div>
    {{> footer}}
</html>