.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
hr {
  display: block;
  height: 1px;
  width: 960px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.7em 0;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    hr {
      display: none; } }

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  line-height: 30px;
  font-weight: bold;
  color: #68636A; }

h1 a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

.left-header {
  display: inline-block;
  width: 500px;
  height: 100px; }

.right-header {
  font-family: 'Arial', sans-serif;
  color: #a4a4a5;
  font-size: 13px;
  width: 306px;
  float: right;
  display: inline-block;
  vertical-align: center;
  padding: 0 0 0 20px;
  border-left: 1px solid #ccc;
  height: 70px;
  margin: 20px 0 0 0; }
  @media only screen and (max-width: 768px) {
    .right-header {
      display: none; } }

#horizontal-menu {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  list-style: none;
  margin-top: 1px;
  box-sizing: border-box;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    #horizontal-menu {
      display: none; } }

.menu-item {
  padding: 0 22px 0 10px; }

.menu-button {
  font-family: 'Arial', sans-serif;
  border: none;
  font-size: 13px;
  text-decoration: none;
  color: #999;
  margin: 25px 10px 10px 0;
  padding: 10px;
  align-items: center;
  background-color: white; }
  .menu-button:hover {
    background-color: black;
    color: #fff; }

h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px; }

.description-text {
  height: 200px;
  width: 500px; }

.forms {
  margin-top: 20px;
  font-size: 13px; }

.password {
  font-size: 20px; }

textarea, select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 13px; }

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 13px; }

input[type=password], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 13px; }

input[type=submit] {
  width: 50%;
  background-color: #68636A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-size: 13px; }

input[type=submit]:hover {
  background-color: black; }

.detail-photo-container {
  display: flex;
  box-sizing: border-box; }

.photo-detail {
  height: 450px;
  width: 625px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px; }

.button-container {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end; }

.button {
  font-family: 'Arial', sans-serif;
  border: none;
  font-size: 13px;
  text-decoration: none;
  color: #999;
  padding: 10px 10px;
  margin: 0 10px 0 10px;
  background-color: white; }
  .button:hover {
    background-color: black;
    color: #fff; }

.photo-large {
  height: 450px;
  width: 625px; }
  @media only screen and (max-width: 768px) {
    .photo-large {
      width: 100%;
      height: 60%; } }

.photo-container {
  line-height: 16px;
  margin: 0 0 40px 0;
  width: 306px;
  height: 215px; }

.right-side-column {
  margin: 55px 0 0 20px; }
  @media only screen and (max-width: 768px) {
    .right-side-column {
      display: none; } }

.photo-right-column {
  width: 306px;
  height: 215px;
  box-sizing: border-box; }

.photo {
  width: 306px;
  height: 215px;
  box-sizing: border-box;
  flex: 1 0 960px; }

.caption {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px;
  color: #888888; }

.right-column-caption {
  margin: 10px 0 20px 0;
  font-weight: bold; }

.hero-image {
  height: 370px;
  width: 100%;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    .hero-image {
      width: 100%;
      height: 250px; } }

@media only screen and (max-width: 768px) {
  .hr-under-hero {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.7em 0;
    padding: 0;
    box-sizing: border-box; } }

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 1 0 960px; }
  @media only screen and (max-width: 768px) {
    .image-grid {
      justify-content: center; } }

.container {
  width: 960px;
  margin: 60px auto;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    .container {
      margin: 40px auto;
      width: 400px; } }

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box; }

.hero-image {
  height: 370px;
  width: 100%;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    .hero-image {
      width: 100%;
      height: 250px; } }

@media only screen and (max-width: 768px) {
  .hr-under-hero {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.7em 0;
    padding: 0;
    box-sizing: border-box; } }

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 1 0 960px; }
  @media only screen and (max-width: 768px) {
    .image-grid {
      justify-content: center; } }

body {
  font-family: 'Arial', sans-serif;
  color: #a4a4a5;
  font-size: 13px; }
