/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
hr {
  display: block;
  height: 1px;
  width: 960px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.7em 0;
  padding: 0;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    hr {
      display: none; } }

.header-menu {
  padding: 0 0 20px 0; }

.left-header {
  display: inline-block;
  width: 500px; }

.right-header {
  font-family: 'Arial', sans-serif;
  color: #a4a4a5;
  font-size: 13px;
  width: 306px;
  float: right;
  display: inline-block;
  vertical-align: center;
  padding: 0 0 0 20px;
  border-left: 1px solid #ccc;
  height: 50px;
  margin: 20px 0 0 0; }
  @media only screen and (max-width: 768px) {
    .right-header {
      display: none; } }

.login-button {
  display: flex;
  margin: 20px 200px 20px 0; }

.logout-button {
  display: flex;
  margin: 20px 100px 20px 0; }

.password {
  font-size: 20px; }

.container {
  width: 960px;
  margin: 60px auto;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    .container {
      margin: 40px auto;
      width: 400px; } }

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box; }

.hero-image {
  height: 349px;
  width: 960px;
  box-sizing: border-box;
  margin: 30px 0 0 0; }

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 1 0 960px; }

.detail-photo-container {
  display: flex;
  box-sizing: border-box; }

.photo-detail {
  height: 450px;
  width: 625px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 15px; }

.button-container {
  display: flex;
  margin-top: 20px; }

.button {
  background-color: black;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  padding: 10px 20px;
  transition: all 0.1s ease-out; }
  .button:hover {
    background-color: gray;
    color: #fff; }

.photo-large {
  height: 450px;
  width: 625px; }
  @media only screen and (max-width: 768px) {
    .photo-large {
      width: 100%;
      height: 60%; } }

.photo-container {
  line-height: 16px;
  margin: 0 0 40px 0;
  width: 306px;
  height: 215px; }

.right-side-column {
  margin: 70px 0 0 20px; }
  @media only screen and (max-width: 768px) {
    .right-side-column {
      display: none; } }

.photo-right-column {
  width: 306px;
  height: 215px;
  box-sizing: border-box; }

.photo {
  width: 306px;
  height: 215px;
  box-sizing: border-box;
  flex: 1 0 960px; }

.caption {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  color: #888888; }

.right-column-caption {
  margin: 10px 0 20px 0;
  font-weight: bold; }

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #68636A; }

body {
  font-family: 'Arial', sans-serif;
  color: #a4a4a5;
  font-size: 13px; }
