/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.container {
  border: 10px solid red;
  width: 960px;
  margin: 0 auto; }

hr {
  display: block;
  height: 1px;
  width: 800px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

.header-menu {
  border: 10px solid blue;
  padding: 0 0 20px 0; }

.body {
  border: 10px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.hero-image {
  border: 10px solid brown;
  height: 350px;
  width: 960px;
  box-sizing: border-box; }

.image-grid {
  border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 0 0 960px; }

.photo {
  border: 10px solid orange;
  max-width: 300px;
  max-height: 200px;
  box-sizing: border-box;
  flex: 0 0 960px; }

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #68636A; }

body {
  font-family: 'Roboto', sans-serif; }
