<h2>Create User</h2>

<form id="form" action="/gallery/new-user" method="POST">
  Username:<br>
  <input type="text" placeholder="Username" name="username"/>
  <br>
  Password:<br>
  <input type="password" placeholder="Password" name="password"/>
  <br>
  <br>
  <input type="submit">
</form>