<div class="container">

<div class="header-menu">
  <div class="left-header">
    <hr/>
    <h1>_ARCHITEKT</h1>
  </div>
  <div class="right-header">
  </div>
</div>

  <div class="body">


    <div class="hero">
      <img src="http://i63.tinypic.com/206zjm8.jpg" class="hero-image">
    </div>

    <div class="image-grid">

    {{#each photos}}

        <p>
        <img src="{{link}}" class="photo">
        <br>
        Author: {{author}}<br>
        Description: {{description}}
        </p>
    {{/each}}

    </div>



  </div>
</div>