
    <div class="hero">
      <img src="https://s3.amazonaws.com/web-ready-andrea/lisbon-sunset-edited+4+2.png" class="hero-image">
    </div>
    <hr class="hr-under-hero"/>

    <div class="image-grid">

    {{#each photos}}

        <div class="photo-container">
          <a href="/gallery/{{id}}">
            <img src="{{link}}" class="photo">
          </a>
          <br>
          {{title}} - {{author}}
        </div>

    {{/each}}

    </div>


