
    <div class="hero">
      <img src="https://s3.amazonaws.com/images-portfolio-andrea/lisbon-sunset-edited.png" class="hero-image">
    </div>
    <hr/>

    <div class="image-grid">

    {{#each photos}}

        <div class="photo-container">
        <a href="/gallery/{{id}}">
          <img src="{{link}}" class="photo">
        </a>
        <br>
        Author: {{author}}<br>
        Description: {{description}}
        </div>

    {{/each}}

    </div>

