<h2>ADD A NEW PHOTO TO YOUR GALLERY</h2>
<br>
<p>Fill in the form below to add a new photo to your gallery. Give it a long description!</p>
<br>
<br>
<form id="form" action="/gallery/new" method="POST">
  Title:<br>
  <input type="text" placeholder="Title" name="titlec">
  <br>
  Author:<br>
  <input type="text" placeholder="Author" name="author">
  <br>
  Link:<br>
  <input type="text" placeholder="URL of Your Image" name="link">
  <br>
  Description:<br>
  <textarea placeholder="Description" rows="10" cols="60" name="description"></textarea>
  <br>
  <br>
  <input type="submit">
</form>
